<view class="row">
  <view class="square mr-16">
    <view
      class="{{ locale === 'hans' ? 'text-primary' : 'op-80' }}"
      data-lang="hans"
      bind:tap="setLocale"
    >
      简体
    </view>
    <view class="divider" />
    <view
      class="{{ locale === 'hant' ? 'text-primary' : 'op-80' }}"
      data-lang="hant"
      bind:tap="setLocale"
    >
      繁體
    </view>
  </view>
  <view
    class="square {{ colorblind ? 'text-primary' : 'op-80' }}"
    bind:tap="setColorblind"
  >
    <text>色彩增强</text>
    <view wx:if="{{ colorblind }}" class="mark" />
  </view>
</view>
<view class="row">
  <view class="square mr-16">
    <view
      class="{{ inputMode === 'py' ? 'text-primary' : 'op-80' }}"
      data-mode="py"
      bind:tap="setInputMode"
    >
      拼音
    </view>
    <view class="divider" />
    <view
      class="{{ inputMode === 'zy' ? 'text-primary' : 'op-80' }}"
      data-mode="zy"
      bind:tap="setInputMode"
    >
      注音
    </view>
    <view class="divider" />
    <view
      class="{{ inputMode === 'sp' ? 'text-primary' : 'op-80' }}"
      data-mode="sp"
      bind:tap="setInputMode"
    >
      双拼
    </view>
  </view>
  <view class="square {{ inputMode === 'py' ? '' : 'op-50' }}">
    <view
      class="{{ useNumberTone ? 'op-80' : 'text-primary' }}"
      data-mode="symbol"
      bind:tap="setNumberTone"
    >
      符号声调
    </view>
    <view class="divider" />
    <view
      class="{{ useNumberTone ? 'text-primary' : 'op-80' }}"
      data-mode="number"
      bind:tap="setNumberTone"
    >
      数字声调
    </view>
  </view>
</view>
<view wx:if="{{ inputMode === 'sp' }}" class="row">
  <view class="square">
    <view
      class="{{ spMode === 'sougou' ? 'text-primary' : 'op-80' }}"
      data-mode="sougou"
      bind:tap="setSpMode"
    >
      搜狗双拼
    </view>
    <view class="divider" />
    <view
      class="{{ spMode === 'xiaohe' ? 'text-primary' : 'op-80' }}"
      data-mode="xiaohe"
      bind:tap="setSpMode"
    >
      小鹤双拼
    </view>
  </view>
</view>
<view wx:if="{{ !lite }}" class="row">
  <view
    class="square mr-16 {{ useNoHint ? 'text-primary' : 'op-80' }}"
    bind:tap="setNoHint"
  >
    <text>禁用提示</text>
    <view wx:if="{{ useNoHint }}" class="mark" />
  </view>
  <view
    class="square mr-16 {{ useCheckAssist ? 'text-primary' : 'op-80' }}"
    bind:tap="setCheckAssist"
  >
    <text>辅助排除</text>
    <view wx:if="{{ useCheckAssist }}" class="mark" />
  </view>
  <view
    class="square {{ useStrictMode ? 'text-primary' : '' }} {{ started ? 'op-50' : 'op-80' }}"
    bind:tap="setStrictMode"
  >
    <text>严格模式</text>
    <view wx:if="{{ useStrictMode }}" class="mark" />
  </view>
</view>
