:host {
  display: block;
  padding: 32px 16px;
}

.word {
  margin-bottom: 8px;
}

.input-box {
  margin-bottom: 20px;
}

.input {
  width: 100%;
  height: 48px;
  border: 2px solid rgba(156, 163, 175, 0.1);
  padding: 0 12px;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
}

.btn {
  margin-bottom: 24px;
  width: fit-content;
  height: 40px;
  padding: 0 24px;
  background: @primary;
  color: @white;
  font-size: 16px;
  line-height: 40px;
  border: none;
  border-radius: 4px;
  opacity: 0.9;
}

.disabled {
  /* stylelint-disable-next-line declaration-no-important */
  color: @white !important;
  /* stylelint-disable-next-line declaration-no-important */
  background: rgba(75, 85, 99) !important;
  opacity: 0.5;
}

.active {
  opacity: 1;
}

.help {
  display: flex;
  justify-content: center;
}

.hint,
.cheatsheet {
  opacity: 0.75;
  padding-left: 22px;
  font-size: 16px;
  position: relative;
}

.hint-active,
.cheatsheet-active {
  opacity: 1;
  color: @primary;
}

.hint {
  margin-right: 16px;
}

.hint::before,
.cheatsheet::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 18px;
  height: 18px;
  background-size: 100% 100%;
}

.hint::before {
  background-image: url('/assets/idea.svg');
}

.cheatsheet::before {
  background-image: url('/assets/grid.svg');
}

.hint-active::before {
  background-image: url('/assets/idea-teal.svg');
}

.cheatsheet-active::before {
  background-image: url('/assets/grid-teal.svg');
}
